mat-dialog-content {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 100px;
  resize: vertical;
}

mat-dialog-content{
  width: 450px;
  height: 500px;
}

mat-form-field{
  width: 400px;
}
