<p>book-list works!</p>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Published</th>
        <th scope="col">ISBN</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books.slice(0, 20); let i=index">
        <td> {{ i + 1 }}.{{ book.title }}</td>
        <td> {{ book.published }}</td>
        <td> {{ book.isbn }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
