<div class="dual-list">
  <div class="list-box">
    <p>{{sourceName}}</p>
    <div class="record-picker">
      <ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:available.dragOver}"
          (drop)="drop($event, confirmed)" (dragover)="allowDrop($event, available)" (dragleave)="dragLeave()">
        <li *ngFor="let item of available.sift; let idx=index;"
            (click)="selectItem(available.pick, item); shiftClick($event, idx, available, item)"
            [ngClass]="{selected: isItemSelected(available.pick, item)}"
            draggable="true" (dragstart)="drag($event, item, available)" (dragend)="dragEnd(available)"
        >
          <label>{{item._name}}</label>
          <label>{{item._lname}}</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="button-box">
    <button mat-mini-fab color="primary" (click)="moveItem(available, confirmed)"
            [disabled]="available.pick.length === 0"><i class="fa fa-arrow-right"></i>
      <mat-icon color="accent">add_circle_outline</mat-icon>
    </button>

    <button mat-mini-fab color="primary" (click)="moveItem(confirmed, available)"
            [disabled]="confirmed.pick.length === 0"><i class="fa fa-arrow-left"></i>
      <mat-icon>remove_circle_outline</mat-icon>
    </button>

    <button mat-mini-fab color="primary" (click)="moveAll()"
            [disabled]="isAllSelected(available)"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i>
      <mat-icon>fast_forward</mat-icon>
    </button>

    <button mat-mini-fab color="primary" (click)="removeAll()"
            [disabled]="isAllSelected(confirmed)"><i class="fa fa-arrow-left"></i><i class="fa fa-arrow-left"></i>
      <mat-icon>fast_rewind</mat-icon>
    </button>

  </div>

  <div class="list-box">
    <p>{{targetName}}</p>
    <div class="record-picker">
      <ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:confirmed.dragOver}"
          (drop)="drop($event, available)" (dragover)="allowDrop($event, confirmed)" (dragleave)="dragLeave()">
        <li *ngFor="let item of confirmed.sift; let idx=index;"
            (click)="selectItem(confirmed.pick, item); shiftClick($event, idx, confirmed, item)"
            [ngClass]="{selected: isItemSelected(confirmed.pick, item)}"
            draggable="true" (dragstart)="drag($event, item, confirmed)" (dragend)="dragEnd(confirmed)"
        ><label>{{item._name}}</label></li>
      </ul>
    </div>
  </div>
</div>
