<p>author-list works!</p>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Surname</th>
        <th scope="col">Born</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let author of authors.slice(0, 20); let i=index">
        <td>{{i + 1}}</td>
        <td>{{ author.name }}</td>
        <td>{{ author.lname }}</td>
        <td>{{ author.sname }}</td>
        <td>{{ author.born }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
