<h2 mat-dialog-title>Add Author</h2>

<mat-dialog-content>
  <form [formGroup]="authorForm">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name"/>
      <mat-error *ngIf="authorForm.get('name')?.hasError('required')">
        Name is required.
      </mat-error>
      <mat-error *ngIf="authorForm.get('name')?.hasError('pattern')">
        Name should only contain alphabetical characters.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lname"/>
      <mat-error *ngIf="authorForm.get('lname')?.hasError('pattern')">
        Last Name should only contain alphabetical characters.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Sure Name" formControlName="sname"/>
      <mat-error *ngIf="authorForm.get('sname')?.hasError('pattern')">
        Sure Name should only contain alphabetical characters.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="number" placeholder="Born" formControlName="born"/>
      <mat-error *ngIf="authorForm.get('born')?.hasError('required')">
        Born is required.
      </mat-error>
      <mat-error *ngIf="authorForm.get('born')?.hasError('pattern')">
        Born should be a number.
      </mat-error>
      <mat-error *ngIf="authorForm.get('born')?.hasError('max')">
        Should be a valid year
      </mat-error>
    </mat-form-field>
    <br>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button class="mat-raised-button"
          mat-button
          color="primary"
          [disabled]="!authorForm.valid"
          (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
